<div class="w-48 flex-shrink-0">
    <div class="relative bg-white border border-gray-200 rounded-xl shadow-md overflow-hidden 
                group hover:shadow-xl transition duration-300 cursor-pointer">
      
      <div class="h-36 w-full overflow-hidden bg-gray-100">
        <img [src]="category.image"
              [alt]="category.name"
              class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
              loading="lazy" />
      </div>
  
      <div class="p-4 pt-3 text-center">
        <h3 class="text-xl font-semibold text-gray-900 truncate">
          {{ category.name }}
        </h3>
        
        <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 
                    w-0 h-1 bg-green-500 transition-all duration-300 
                    group-hover:w-1/2">
        </div>
      </div>
    </div>
  </div>